.container {
  display: grid;
  margin: 0px;
  padding: 0px;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px 20px;
  justify-content: center;
  align-content: center;
  border-top: 6px solid #1c6338;

}

.item {
  height: auto;
  margin: 0px;
  padding: 10px 0px;
  display: block;
  border-bottom: 2px solid #1c6338;
}